.about-us_form {
    margin-top: 140px;
    background-color:rgba(248, 248, 248, 1);
    padding: 75px 0;
    @media (max-width:1183px){
        margin-top: 0px;
    }
    .layout {
      
        overflow: visible;
        .form-content{
            display: flex;
            justify-content: space-between;
            @media (max-width:1183px){
                flex-direction: column-reverse;
                align-items: center;
            }
            .content {
                @media (max-width:573px){
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  max-width: 92%;
                }
                h3{
                    position: relative;
                    margin-bottom: 30px;
                    &::before{
                        content: " ";
                        width: 52px;
                        height: 2px;
                    
                        position: absolute;
                        top: 15px;
                        left: -78px;
                    
                        background-color: $colorbtn;
                       
                        @media (max-width:768px){
                            left: 0px;top: 15px;
                        }
                        @media (max-width:573px){
                            left: -60px;
                        }
                        @media (max-width:531px){
                            left: -50px;
                        }
                    }
                    @media (max-width:1183px){
                        margin-top: 50px;
                        text-align: center;
                    }
                    @media (max-width:531px){
                        max-width: 90%;
                    }
                    
                }
                span{
                    margin-top: 30px;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: $colortext;
                }
                .successfullyOne{
                    display: none;
                    color:  green;
                    font-size:30px;
                    margin: 100px 50px;
                }
                form{
                    @include form-style;
                    margin-top: 30px;
                    .not-necessarily::after{
                        content: "(не обязательно)";
                        position: relative;
                        top: -41px;left: 80px;
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color :rgba(176, 176, 176, 1);
                        white-space: nowrap;
                        @media (max-width:1183px){
                            left: 80px;
                        }
                        @media (max-width:405px){
                            top: -41px;left: -40px;
                        }
                        @media (max-width:391px){
                            display: none;
                        }
                    }
                }
                .additionaly {
                    p{
                        margin: 30px 0 0 70px;
                        position: relative;
                        width: 465px;
                       @include green-line;
                       @media (max-width:535px){
                        
                        width: 85%;
                        }
                        @media (max-width:453px){
                            margin: 30px 0 0 30px;
                        }
                    }
                    .icon-image {
                        margin: 20px 0 0 70px;
                        img{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}
.no-margin{
    margin-top: 0px;
}