.main-title {
  position: relative; }
  .main-title .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    min-width: 100%; }
    .main-title .banner-img img {
      -o-object-fit: contain;
      object-fit: contain; }
